# Ingestion Service
KAFKA_BROKER=localhost:9092
LISTEN_ADDR=:8080

# Processing Service
KAFKA_BROKER=localhost:9092
ES_URL=http://localhost:9200
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3.2:1b
OLLAMA_REQUEST_TIMEOUT=30
MODEL_PATH=./isolation_forest.joblib

# Dashboard
ES_URL=http://localhost:9200
PORT=3001
